{% extends 'base.html.twig' %}

{% block title %}Zoo de la Palmyre - Connexion{% endblock %}

{% block body %}

    <div class="authentification">
        <div class="authentification-infos">
            <h1 class="main-title">Connectez-vous!</h1>
            <p>Bienvenue sur le site du Zoo de la Palmyre !
                <br />
                Pour pouvoir bénéficier de tous les avantages de notre site, connectez-vous dès maintenant.
            </p>

            <a class="login-btn" href={{ path('app_register') }}>
                Vous n'avez pas encore de compte ? C'est ici.
            </a>
        </div>

        <form method="post" class="register-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <label style="margin-block: 20px;">
                <input type="checkbox" name="_remember_me" checked>
                Keep me logged in
            </label>

            <div style="margin-top: 10px;">
                <button class="btn button-primary" type="submit">
                    Me connecter
                </button>
            </div>

        </form>

    </div>

{% endblock %}
